.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8.3rem 0 3rem;
  border: 0.2px solid transparent;
}

.home {
  background: inherit;
}

.homepageLeft {
  margin-right: 2.3rem;
}

.homepageLeft h1 {
  color: #fff;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.homepageLeft p {
  margin-top: 2.4rem;
  color: #fff;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 3.9rem;
}
