.marketplaceContainer {
  position: relative;
}
.marketplace {
  padding: 3rem 6rem 6.3rem;
  background: #f6f3f3;
}

.marketTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.marketplaceToggle {
  display: flex;
}

.marketplaceToggle h2:first-child {
  margin-right: 1.6rem;
}

.marketplaceToggle h2 {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  color: #c4c4c4;
  line-height: normal;
}

.marketplaceToggle .active {
  color: black;
}

.modelsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 4rem;
  width: 100%;
}
