.logo {
  color: #fff;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  display: flex;
  align-items: center;
}

.logo div {
  width: 0.8rem;
  height: 0.8rem;
  margin-left: 0.5rem;
  background: #0081fe;
  border-radius: 50%;
  margin-top: 0.8rem;
}
