.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.8rem 10rem 2.8rem;
}

.navbarDark {
  background: inherit;
}

.navbarLight {
  background-color: #fff;
}

.navRight {
  display: flex;
  align-items: center;
}

.navLinks {
  display: flex;
  align-items: center;
  margin-right: 14.6rem;
}

.navLinks li {
  margin-right: 9.7rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.navbarDark li,
.navbarDark a {
  color: #fff;
}

/* .navLinks li:last-child {
    margin-right: 0;
    
} */

.navbarLight li,
.navbarLight a {
  color: black;
}

.navRight .btn-primary {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0;
  border-radius: 5rem;
  background: #0081fe;
  color: #fff;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: 0 !important;
  margin-left: 14.6rem !important;
}
